body {
  margin: auto;
  padding: 0;
  font-family: "Raleway", sans-serif;
  max-width: 1400px;
}

h1, h2, h3 {
  font-weight: 900;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

.nav {
  width: 100%;
}
.nav .nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 1em;
}
.nav .nav__logo .log {
  color: #0065FC;
  font-weight: bold;
}
.nav .nav__mobile {
  display: flex;
  justify-content: space-around;
}
.nav .nav__mobile .hebergement, .nav .nav__mobile .activity {
  width: 50%;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 2px solid #F2F2F2;
}
.nav .nav__mobile .hebergement {
  color: #0065FC;
  border-bottom: 2px solid #0065FC;
}
@media screen and (min-width: 768px) {
  .nav .nav__mobile {
    display: none;
  }
}
.nav .nav__desktop {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.nav .nav__desktop .desktop {
  width: 250px;
  display: flex;
  justify-content: space-around;
}
.nav .nav__desktop .desktop .nav__hebergement {
  color: #0065FC;
}
.nav .nav__desktop .desktop .nav__hebergement:active {
  color: #0065FC;
}
@media screen and (max-width: 768px) {
  .nav .nav__desktop .desktop {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav .nav__desktop {
    justify-content: flex-end;
  }
}

header {
  padding: 1em;
}
header h1 {
  font-size: 1.5em;
}
header .search .search-input {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  border: 1px solid #F2F2F2;
  max-width: 500px;
  min-width: 300px;
}
header .search .search-input .fas {
  padding: 1em;
  margin: none;
}
header .search .search-input .fa-map-marker-alt {
  background: #F2F2F2;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
header .search .search-input .fa-search {
  border-radius: 15px;
  background: #0065FC;
  color: #ffffff;
}
header .search .search-input input {
  padding: 1.5em;
  border: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  header .search .search-input {
    width: 40%;
  }
}
header .filter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0.5em;
}
header .filter .fas {
  color: #0065FC;
  background: #DEEBFF;
  padding: 1em;
  border-radius: 100%;
}
header .filter div {
  width: auto;
  margin-bottom: 5px;
  margin-right: 5px;
  font-weight: bold;
  border: 1px solid #F2F2F2;
  border-radius: 25px;
  padding-right: 1em;
}
header .infos {
  display: flex;
  align-items: center;
}
header .infos .fa-info {
  color: #0065FC;
  font-size: 10px;
  padding: 0.8em;
  border: 1px solid #F2F2F2;
  border-radius: 100%;
}

.section__hebergement .aside__mostPopular {
  padding: 1em;
  background: #F2F2F2;
  height: auto;
}
.section__hebergement .aside__mostPopular--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__hebergement .aside__mostPopular article {
  height: 140px;
  background: #ffffff;
  padding: 0.3em;
  display: flex;
  border-radius: 25px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px #cacaca;
}
.section__hebergement .aside__mostPopular article .image {
  width: 40%;
}
.section__hebergement .aside__mostPopular article .image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.section__hebergement .aside__mostPopular article .info {
  margin-left: 20px;
  width: 60%;
}
.section__hebergement .aside__mostPopular article .info h3 {
  font-size: 18px;
  font-weight: bold;
}
.section__hebergement .aside__mostPopular article .info span {
  color: #0065FC;
  font-size: 10px;
}
@media screen and (min-width: 1200px) {
  .section__hebergement .aside__mostPopular {
    width: 30%;
    border-radius: 25px;
    margin: 1em;
  }
}
.section__hebergement .subSection__hebergement {
  padding: 1em;
  height: auto;
}
.section__hebergement .subSection__hebergement--bloc div article {
  height: 200px;
  width: 100%;
  background: #ffffff;
  padding: 0.3em;
  display: block;
  border-radius: 25px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px #cacaca;
}
.section__hebergement .subSection__hebergement--bloc div article .image {
  width: 100%;
  height: 60%;
}
.section__hebergement .subSection__hebergement--bloc div article .image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.section__hebergement .subSection__hebergement--bloc div article .info {
  display: block;
  margin-left: 20px;
  height: 40%;
}
.section__hebergement .subSection__hebergement--bloc div article .info h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 5px;
}
.section__hebergement .subSection__hebergement--bloc div article .info p {
  line-height: 5px;
}
.section__hebergement .subSection__hebergement--bloc div article .info span {
  color: #0065FC;
  font-size: 10px;
}
@media screen and (min-width: 1200px) {
  .section__hebergement .subSection__hebergement--bloc div article {
    width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .section__hebergement .subSection__hebergement--bloc div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .section__hebergement .subSection__hebergement--bloc {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .section__hebergement .subSection__hebergement {
    width: 70%;
    display: flex;
    background: #F2F2F2;
    border-radius: 25px;
    margin: 1em;
  }
}
@media screen and (min-width: 1200px) {
  .section__hebergement {
    display: flex;
    flex-direction: row-reverse;
  }
}

.section__activity {
  padding: 1em;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .section__activity--bloc {
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.section__activity article {
  height: 200px;
  width: 100%;
  background: #ffffff;
  padding: 0.3em;
  display: block;
  border-radius: 25px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px #cacaca;
}
.section__activity article .image-activity {
  width: 100%;
  height: 70%;
}
.section__activity article .image-activity img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.section__activity article .image-activity .info {
  padding: 1em;
}
@media screen and (min-width: 1200px) {
  .section__activity article {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .section__activity .height {
    height: 100%;
  }
}

footer {
  height: auto;
  display: flex;
  align-items: flex-start;
  padding: 2em;
  background: #F2F2F2;
  flex-wrap: wrap;
}
footer .footer__bloc {
  width: 300px;
}
@media screen and (min-width: 699px) {
  footer {
    display: flex;
  }
}
footer a:hover {
  color: #0065FC;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
