footer {
  height: auto;
  display: flex;
  align-items: flex-start;
  padding: 2em;
  background: $grey-color;
  flex-wrap: wrap;
  .footer__bloc{
    width: 300px;
  }
  @include forMobile{
    display: flex;
  }
  a{
    &:hover{
      color: $main-blue;
      font-weight: 700;
    }
  }
}
