footer {
  display: flex;
  align-items: center;
  padding: 1em;
  background: $grey-color;
  flex-wrap: wrap;
  .footer__bloc{
    width: 300px;
  }
  @include forMobile{
    display: flex;
  }
  a{
    &:hover{
      color: $main-blue;
    }
  }
}
